@import '../../styles/root-v1.scss';

.loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
  .sk-wave-rect {
    background: #00ffff;
  }
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #00ffff;
    text-align: center;

    .text {
      margin-top: 10px;
    }
    img {
      width: 30px;
    }
  }
}
